<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz1RQvHrO0Cj75a_hPl5slCO-dXFsRB9w</string>
	<key>GCM_SENDER_ID</key>
	<string>254618248942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneStoreApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phone-store-project</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-store-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254618248942:ios:bf7a220166eb16d22eb5ff</string>
	<key>DATABASE_URL</key>
	<string>https://phone-store-project-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>